@media (max-width: 1060px) {
  html {
    font-size: 65%;
  }
  .background,
  .box {
    display: none;
  }
  .faq {
    width: 80%;
    height: 70vh;
    margin-top: 10rem;
    flex-direction: column;

    .images {
      background: url("/images/bg-pattern-mobile.svg") no-repeat center top;
      overflow: visible;
      .background-mobile {
        display: block;
        position: absolute;
        top: -10%;
        left: 48%;
        transform: translate(-50%, -50%);
      }
    }
    .faq-main {
      align-items: center;
      flex: 4;
    }
  }
}

@media (max-width: 400px) {
  html {
    font-size: 55%;
  }
}
